@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --color-primary-blue: #3cd1ff;
  --color-secondary-blue: #0024C3;
  --color-paragraph: #9ea0a7;
  --color-bg-login-primary: #06080d;
  --color-bg-login-secondary: #0d121c;
  --color-manatee: #9ea0a7;
  --color-box: #10151F;
  --color-cinza-ardosia: #2D3243;
  --breakpoint-*: initial;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;
}

@layer utilities {
  .main-gradient {
    background-image: linear-gradient(to right bottom, #3cd1ff, #0024C3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(-4px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fade-out {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-4px);
    }
  }
  @keyframes fade-slide-down {
    0% {
      opacity: 0;
      transform: translateY(-30px) translateX(15px) scale(0.85);
    }
    100% {
      opacity: 1;
      transform: translateY(0) translateX(0) scale(1);
    }
  }
  @keyframes fade-slide-up {
    0% {
      opacity: 1;
      transform: translateY(0) translateX(0) scale(1);
    }
    100% {
      opacity: 0;
      transform: translateY(-30px) translateX(15px) scale(0.85);
    }
  }

  @keyframes floating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(15px);
    }
    100% {
      transform: translateY(0px);
    }
  }  

  .animate-fade-in {
    animation: fade-in 150ms ease-out forwards;
  }
  .animate-fade-out {
    animation: fade-out 100ms ease-in forwards;
  }
  .animate-popover-in {
    animation: fade-slide-down 150ms ease-out forwards;
  }
  .animate-popover-out {
    animation: fade-slide-up 150ms ease-in forwards;
  }
  .animate-floating {
    animation: floating 3s ease-in-out infinite;
  }
}

:root {
  /* Colors */
  --color-header: rgba(1, 5, 21, 0.759);
  --color-dark-blue: #2e55e9;
  --color-light-blue: #00d8ff;
  --color-main-text: #fff;
  --color-second-text: #9ea0a7;
  --color-card: rgba(37, 40, 61, 0.654);
  --color-bg-box: rgba(15, 16, 19, 0.446);
  --color-page-frame: rgb(15, 16, 19, 0.446);
}

* {
  font-family: "Noto Sans", sans-serif;
}
